
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    height: 100vh;
}



.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    cursor: pointer;
  }

  .btn {
    padding: 10px;
    /* inline-block so that div does not cover whole block (ie whole width of the body). */
    display: inline-block; 
  }

  .btn button{
    cursor: pointer;
    font-size: 18px;
    padding: 2px 15px;
    background-color: darkorchid;
    color: white;
    border-radius: 10px;
  }

  button:disabled{
    opacity: 0.75;
    background-color: rgb(205, 175, 219);
  }